export(ARC_total)
export(ARC_correct)
export(ARC_total_intrude)
export(ARC_correct_intrude)
export(PF_all)
export(PF)
export(SOMA_all)
export(SOMA)
import(dplyr)
import(plyr)
import(stringr)
import(tidyr)
import(magrittr)